@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #3f51b5;
    color: #FFF;
}

.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: center;
}

.modal-card {
    position: relative;
    background-color: #FFF;
    width: 50%;
    margin: 64px 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.22);
}

.modal-x {
    position: absolute;
    padding: 0 10px;
    border-radius: 100%;
    margin: 0;
    z-index: 1000;
    color: white;
    top: 5px;
    right: 5px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s cubic-bezier(.25,.8,.25,1);
}

.modal-x:hover {
    padding: 0 10px;
    margin: 0;
    top: 2px;
    right: 4px;
    font-size: 36px;
    color: #f44336;
}

.card-content {
    margin-top: 100px;
}

.list-item {
    margin: 12px 0px;
    padding: 2px 64px;
    color: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
        0 1px 2px rgba(0,0,0,0.24);
    background-color: #3f51b5;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.list-item:hover {
    box-shadow: 0 14px 20px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.22);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 48px;
    background-color: #ffeb3b;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
        0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.22);
}

.create-button {
    width: 64px;
    height: 64px;
    margin-top: -32px;
    border-radius: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}